html {
  width: 100vw;
}
* {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #f3f3ef;
}
.navMenu {
  color: #007bff !important;
  font-size: 1.5em;
}
.navMenu:hover {
  color: #0056b3 !important;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
.book-cover {
  color: white;
  background-color: #24242499;
}
.bookTitle {
  position: absolute;
  top: 2%;
  left: 5%;
}
.bookAuthor {
  position: absolute;
  bottom: 2%;
  right: 5%;
}
.toTop {
  position: fixed;
  bottom: 10px;
}