* {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #f3f3ef;
  overflow-y: scroll;
}
.navMenu {
  color: #007bff !important;
  font-size: 1.5em;
}
.navMenu:hover {
  color: #0056b3 !important;
  cursor: pointer;
}
.navMenu-disabled {
  color: #4e4f50 !important;
  font-size: 1.5em;
}
a:hover {
  text-decoration: none;
}
.book-cover {
  color: white;
  background-color: #24242499;
}
.bookTitle {
  position: absolute;
  top: 2%;
  left: 5%;
}
.bookAuthor {
  position: absolute;
  bottom: 2%;
  right: 5%;
}
.toTop {
  position: fixed;
  bottom: 10px;
}
.dropbtn {
  color: #007bff;
}
.dropbtn:hover {
  color: #0056b3;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 280px;
  max-width: 75%;
  z-index: 1;
}
.dropdown {
  cursor: pointer;
  position: relative !important;
  display: inline-block !important;
}
.dropdown:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.hanging {
  padding-left: 15px;
  text-indent: -15px;
}
#copiedMessage {
  position: fixed;
  display: table-cell;
  line-height: 100px;
  width: 224px;
  height: 100px;
  text-align: center;
  top: calc(50% - 50px);
  left: calc(50% - 112px);
  transition: all 1s;
}
