<nav>
  <div class="d-flex flex-row mt-2 border-bottom position-relative">
    <a href="{{ `/` | relURL }}"
      ><i title="Home" class="nav-menu mr-2 mt-1 fas fa-home"></i
    ></a>
    {{ partial "bookMenu" . }}
    {{ if eq .Kind "page" }}
    {{ partial "chapterMenu" . }}
    {{ end }}
    <div class="w-100 text-right">
      {{ partial "footer" . }}
    </div>
  </div>
</nav>
<script>
  let expandMenu = function(x) {
    Array.from(document.querySelectorAll(".hover-menu")).forEach(hovermenu => {
      hovermenu.nextElementSibling.style.maxHeight = "0px";
    });
    let thisMenu = x.nextElementSibling;
    thisMenu.style.maxHeight = thisMenu.scrollHeight + "px";
  };
  window.onclick = function(event) {
    let insideMenu = false;
    Array.from(document.querySelectorAll(".show")).forEach(menu => {
      insideMenu = insideMenu || menu.contains(event.target);
    });
    if (!insideMenu && !event.target.matches(".hover-menu")) {
      Array.from(document.querySelectorAll(".hover-menu")).forEach(
        hovermenu => {
          hovermenu.nextElementSibling.style.maxHeight = "0px";
        }
      );
    }
  };
</script>
