<div class="toTop" style="width: 25px;">
  {{ if eq .Kind "page" }}
  {{ partial "prevnext" . }}
  {{ end }}
  <p class="mb-1 mt-1 text-left">
    <i
      class="nav-menu fas fa-chevron-circle-up"
      title="Scroll to top"
      onclick="scrollToTop()"
    ></i>
  </p>
  <p class="mb-1 mt-1 text-left">
    <i
      title="Copy URL to share"
      class="nav-menu fas fa-share-alt"
      onclick="copyUrl({{ .Permalink }})"
    ></i>
  </p>
  <p class="about text-left mb-0">
    <a href="https://github.com/darshanbaral/kitab">
      <small class="text-secondary">kitab</small>
      <br />
    </a>
    <a href="https://www.darshanbaral.com/">
      <small class="text-secondary">d.b</small>
    </a>
  </p>
</div>
